<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Races homepage #<%= @races_homepage.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/races_homepages" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/races_homepages/<%= @races_homepage.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit races homepage
        </a>
      </div>

      <div class="col">
        <a href="/delete_races_homepage/<%= @races_homepage.id %>" class="btn btn-block btn-outline-secondary">
          Delete races homepage
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Race
      </dt>
      <dd>
        <% if @races_homepage.race.present? %>
          <a href="/races/<%= @races_homepage.race_id %>">
            <%= @races_homepage.race.user_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <% if @races_homepage.user.present? %>
          <a href="/users/<%= @races_homepage.user_id %>">
            <%= @races_homepage.user.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <% if @races_homepage.location.present? %>
          <a href="/locations/<%= @races_homepage.location_id %>">
            <%= @races_homepage.location.race_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@races_homepage.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@races_homepage.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

