<h1>
  Edit race #<%= @race.id %>
</h1>

<hr>

<!-- Form race start -->
<form action="/update_race/<%= @race.id %>" method="post">
<!-- Form race end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @race.user_id), :class => "form-control") %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <!-- Label and input for location_id start -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <!-- Input for location_id start -->
    <%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :race_id, @race.location_id), :class => "form-control") %>
    <!-- Input for location_id end -->
  </div>
  <!-- Label and input for location_id end -->

  <!-- Label and input for event_id start -->
  <div class="form-group">
    <label for="event_id">
      Event
    </label>

    <!-- Input for event_id start -->
    <input type="text" id="event_id" name="event_id" class="form-control" value="<%= @race.event_id %>">
    <!-- Input for event_id end -->
  </div>
  <!-- Label and input for event_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update race
  </button>
</form>

<hr>

<a href="/races">
  Go back
</a>
