<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Race #<%= @race.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/races" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <% if current_user == @race.participant %>
          <a href="/races/<%= @race.id %>/edit" class="btn btn-block btn-sm btn-outline-secondary">
            Edit race
          </a>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @race.participant %>
          <a href="/delete_race/<%= @race.id %>" class="btn btn-block btn-sm btn-outline-secondary">
            Delete race
          </a>
        <% end %>
      </div>
    </div>

    <dl>
      <dt>
        User
      </dt>
      <dd>
        <% if @race.participant.present? %>
          <a href="/users/<%= @race.user_id %>">
            <%= @race.participant.email %>
          </a>
        <% end %>
      </dd>

      <dt>
        Location
      </dt>
      <dd>
        <% if @race.city.present? %>
          <a href="/locations/<%= @race.location_id %>">
            <%= @race.city.race_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Event
      </dt>
      <dd>
        <%= @race.event_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@race.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@race.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "race_templates/race_workouts_homepages" %>
  </div>
</div>
